[submodule "DynaMind"]
	path = DynaMind
	url = git@github.com:iut-ibk/DynaMind.git
[submodule "DynaMind-BasicModules"]
	path = DynaMind-BasicModules
	url = git@github.com:iut-ibk/DynaMind-BasicModules.git
[submodule "DynaMind-Gui"]
	path = DynaMind-Gui
	url = git@github.com:iut-ibk/DynaMind-Gui.git
[submodule "DynaMind-Sewer"]
	path = DynaMind-Sewer
	url = git@github.com:iut-ibk/DynaMind-Sewer.git
[submodule "DynaMind-CityBlocks"]
	path = DynaMind-CityBlocks
	url = git@github.com:christianurich/DynaMind-CityBlocks.git
[submodule "DynaMind-QGIS"]
	path = DynaMind-QGIS
	url = git@github.com:christianurich/DynaMind-QGIS.git
