[Desktop Entry]
Type=Application
Name=DynaMind Modelbuilder
Version=1.0
GenericName=DynaMind
Icon=dynamind-icon
TryExec=/usr/local/bin/dynamind-gui
Exec=/usr/local/bin/dynamind-gui %F
Terminal=false
StartupNotify=false
Categories=Qt;Education;Science;Geography;
MimeType=application/x-qgis-project;image/tiff;image/jpeg;image/jp2;application/x-raster-aig;application/x-raster-ecw;application/x-raster-mrsid;application/x-mapinfo-mif;application/x-esri-shape;dynam
