Source: vibe2core
Section: science
Priority: optional
Maintainer: Christian Urich <christian@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), cmake, libcgal-dev(>=3.6.0~), python(>=2.6.0~), python-dev(>=2.6.0~), libboost-python-dev(>=1.36.0~), libboost-program-options1.42-dev(>=1.36.0~), libboost-date-time1.42-dev(>=1.36.0~), libqt4-dev(>=4.6.0~), libcore++-dev(>=1.7), libgmp3-dev
Standards-Version: 3.9.1
Homepage: https://github.com/christianurich/VIBe2Core
#Vcs-Git: git://git.debian.org/collab-maint/vibe2core.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/vibe2core.git;a=summary

Package: vibe2core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Core of the VIBe2 Framework

Package: vibe2core-dev
Section: science
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Core of the VIBe2 Framework
