Source: dynamind
Section: science
Priority: extra
Maintainer: Michael Mair <michael.mair@uibk.ac.at>
Build-Depends: debhelper (>= 8.0.0), cmake, python(>=2.6.0~), python-dev(>=2.6.0~), libboost-python-dev, libboost-program-options-dev, libboost-date-time-dev, libqt4-dev(>=4.6.0~), swig(>=1.3~)
Standards-Version: 3.9.2
Homepage: https://github.com/iut-ibk/DynaMind
#Vcs-Git: git://git.debian.org/collab-maint/dynamind.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/dynamind.git;a=summary

Package: dynamind
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Dynamind
 The DynaMind Framework is based on VIBe, a tool for generating virtual case studies 
 including the urban environment and the urban drainage system. In DynaMind the 
 computational framework has been enhanced and generalised to enable the simulation 
 of complex dynamic urban environments and their infrastructure. Simulations can be defined 
 by modules (small working task within a simulation) and the data flow between them. A module
 has in-ports to receive data from the outside. The data are then processed in the module and 
 sent to out-ports. As data format raster and vector data can be used. Different modules can 
 be linked together to a simulation workflow that is executed in parallel by the DynaMind core. 
 DynaMind comes with a set of basic modules. This includes simple modules for data import and 
 export, complex modules (for example the generation and adaptation of combined sewer networks 
 or the placement of ground water heat pump systems) as well as modules for data visualisation. 
 New modules can easily be integrated in DynaMind by using C++ or Python.

#Package: dynamind-dev
#Section: science
#Architecture: all
#Depends: ${shlibs:Depends}, ${misc:Depends}
#Description: dev files for DynaMind
